<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rechercher des restaurants - Yummmy</title>
    <link rel="icon" href="/images/branding/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header>

    <nav class="navbar">

        <a class="navbar-brand ms-5" href="/">
            <img src="/images/branding/logo.png" alt="logo Yummmy" width="170">
        </a>

        <div class="d-flex justify-content-end gap-5 me-5">
            <a href="/">Accueil</a>
            <a href="/admin/register">Inscription</a>
            <a href="/admin/login">Connexion</a>
            <a href="/admin/contact">Contact</a>
        </div>

    </nav>

</header>

<main>

    <section>

        <button><a href="/admin/search">Retour</a></button>

        <article>

            <img th:src="@{${restaurant.image}}" th:alt="${restaurant.name}"/>

            <img th:src="@{${restaurant.logo}}" th:alt="${restaurant.name}">

            <div class="stars">

                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>

            </div>

            <i class="bi bi-bag-check-fill"></i><p th:text="${restaurant.duration} +' '+'minutes'"></p>

            <h3 th:text="${restaurant.name}"></h3>
            <p th:text="'Restaurant' + ' '+ ${restaurant.type}"></p>
            <p th:text="${restaurant.description}"></p>

        </article>

    </section>
    <section>

        <article>

            <form action="">

                <article>

                    <h2>Entrées</h2>

                    <article>

                        <p>Bruschetta aux tomates et au basilic</p>
                        <p>8,90€</p>
                        <p><i class="bi bi-plus"></i>1<i class="bi bi-dash"></i></p>


                    </article>
                    <article>

                        <p>Antipasti de poivrons grillés</p>
                        <p>8,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Asperges à la milanaise</p>
                        <p>10,50€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>

                </article>
                <article>

                    <h2>Plats</h2>

                    <article>

                        <p>Pizza 4 fromages</p>
                        <p>11,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Pizza Margherita</p>
                        <p>11,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Lasagnes à la bolognaise</p>
                        <p>12,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Spaghettis à la carbonara</p>
                        <p>12,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Gnocchi alla romana</p>
                        <p>13,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Cannelonnis à la sicilienne</p>
                        <p>14,90€</p>
                        <p><i class="bi bi-plus"></i>2<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Escapalope à la milanaise</p>
                        <p>14,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>

                </article>
                <article>

                    <h2>Desserts</h2>

                    <article>

                        <p>Tiramisu</p>
                        <p>4,90€</p>
                        <p><i class="bi bi-plus"></i>2<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Cannoli</p>
                        <p>5,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Panna Cotta</p>
                        <p>5,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>

                </article>
                <article>

                    <h2>Boissons</h2>

                    <article>

                        <p>Evian 50cl</p>
                        <p>1,50€</p>
                        <p><i class="bi bi-plus"></i>1<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Pepsi 33cl</p>
                        <p>2,00€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Ice Tea 33cl</p>
                        <p>2,00€</p>
                        <p><i class="bi bi-plus"></i>1<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Côtes-du-Rhône 0,75L</p>
                        <p>14,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Côtes-de-Provence 0,75L</p>
                        <p>15,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Chianti 0,75L</p>
                        <p>16,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>
                    <article>

                        <p>Pinot blanc 0,75L</p>
                        <p>17,90€</p>
                        <p><i class="bi bi-plus"></i>0<i class="bi bi-dash"></i></p>

                    </article>

                </article>

                <button><a href="/admin/cart">Commander</a></button>

            </form>
        </article>

    </section>


</main>

</main>




<footer class="d-flex p-5 justify-content-between align-items-center">

    <img src="/images/branding/logo.png" alt="Logo Yummmy" width="180">

    <section>

        <h4 class="fs-5">Suivez-nous sur les réseaux sociaux !</h4>

        <article class="d-flex justify-content-center gap-4 fs-1 pt-1">

            <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com/?lang=fr"><i class="bi bi-twitter"></i></a>
            <a href="https://www.tiktok.com/fr/"><i class="bi bi-tiktok"></i></a>
            <a href="https://www.youtube.com/?hl=fr"><i class="bi bi-youtube"></i></a>

        </article>

    </section>

    <section class="d-flex gap-5">

        <article class="d-flex flex-column">

            <a href="/admin/register">Inscription</a>
            <a href="/admin/login">Connexion</a>
            <a href="/admin/contact">Contact</a>

        </article>

        <article class="d-flex flex-column">

            <a href="#">Carrières</a>
            <a href="#">Presse</a>
            <a href="#">Mentions légales</a>

        </article>

    </section>

</footer>

</body>
</html>