<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription - Yummmy</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="form">
    <form method="post" action="/register" th:object="${registerRequest}">
        <h2>Inscription</h2>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="email" placeholder="Email" required>
        </div>
        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="password" placeholder="Mot de passe" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Doit contenir au moins un nombre, une majuscule et une minuscule, et au moins 8 caractères." required>
        </div>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="surname" name="surname" placeholder="Nom" required>
        </div>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="name" name="name" placeholder="Prénom" required>
        </div>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="phone" name="phone" placeholder="Téléphone" required>
        </div>
        <div class="input-box">
            <label for="rest">Je suis restaurateur</label>
            <input type="checkbox" name="restaurateur" id="rest">
        </div>
        <div class="input-box">
            <input type="submit" name="sign-in" value="Register">
        </div>
        <a href="/">Navigate to home</a>
    </form>
</div>
</body>
</html>