*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

nav, footer {
    background-color: #FFBA08;
}

a {
    text-decoration: none;
}

nav a {
    color: #FD2D01;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

main {
    background: url(../images/elements/Background.png)fixed;
}

.heroSection h1 {
    color: #FFBA08;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 0em;
}

.heroSection img {
    margin-right: 2em;
}

form i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: #FD2D01 1px solid;
    background-color: #FD2D01;
    width: 2.5em;
    height: 2.5em;
    margin-right: -1.4em;
    z-index: 1;
}

form i:hover {
    cursor: pointer;
}

#heroSectionAddress {
    border: #FD2D01 1px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    z-index: 0;
    color: #FD2D01;
    font-weight: bold;
    width: 40%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FD2D01;
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #FD2D01;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
color: #FD2D01;
}

.heroSection-button {
    background-color: #FD2D01;
    border: #FD2D01;
    color: white;
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
}

.howItWorks {
    background-color: #FFBA08;
    color: white;
    font-weight: bold;
}

.howItWorks h2 {
    text-align: center;
    color: #FD2D01;
    font-weight: bold;
    padding-bottom: 1.5em;
}

.howItWorks p {
    background-color: #FD2D01;
    border: #FD2D01;
    border-radius: 5em;
    padding-left: 1em;
    padding-right: 1.5em;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: white 1px solid;
    background-color: white;
    width: 2em;
    height: 2em;
    color: #FD2D01;
    font-size: x-large;
    margin-left: -0.7em;
}

.selectionCards h2 {
    text-align: center;
    color: #FFBA08;
    font-weight: bold;
}

.selectionCards a {
    display: block;
    border: solid 1px #FFBA08;
    background-color: #FFBA08;
    border-radius: 20px;
    width: 35%;
    padding: 1%;
    color: white;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 5em;
}

.selectionCards a:hover {
    transform:scale(1.04);
    text-size-adjust: auto;
    transition: 0.3s;
}

.banners {
    width: 100%;
    height: 13em;
    border-radius: 20px;
    object-fit: cover;
}

.card-info img {
    width: 7em;
    margin-top: -3.5em;
    border: #FFBA08 solid 3px;
    border-radius: 100px;
}

.card-info {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
}

.bi-bag-check-fill {
    padding-right: 0.5em;
}

.stars {
    color: #FD2D01;
    font-size: large;
}

.card-name {
    margin-top: 0.5em;
    text-align: center;
    font-weight: bold;
    padding-right: 1em;
}

.card-name p {
    font-weight: 500;
}

button a{
    background-color: #FD2D01;
    color: white;
}

button a:hover {
    color: white;
}

button:hover {
    transform:scale(1.04);
    text-size-adjust: auto;
    transition: 0.3s;
}

button {
    background-color: #FD2D01;
    border: #FD2D01;
    border-radius: 5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    color: white;
}

section h2 {
    text-align: center;
    font-weight: bold;
}

.register-cta {
    background-color: #FFBA08;
}

.register-cta h2 {
    color: #FD2D01;
}

.why-container h2 {
    color: #FFBA08;
    margin-top: 1.5em;
}

.why-cards {
    padding-left: 15em;
    padding-right: 15em;
}

.why-cards article {
    display: block;
    border: solid 1px #FFBA08;
    background-color: #FFBA08;
    border-radius: 20px;
    width: 30%;
    padding: 1%;
    color: white;
    text-align: center;
    padding-top: 2em;
}

.why-cards article:hover {
    transform:scale(1.04);
    text-size-adjust: auto;
    transition: 0.3s;
}

h1 {
    color: #FFBA08;
    text-align: center;
    font-weight: 900;
    padding-bottom: 0.5em;
    padding-top: 3em;
}

#searchAddress {
    border: #FD2D01 1px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    z-index: 0;
    color: #FD2D01;
    font-weight: bold;
    width: 25%;
}

.search-select select{
    background-color: #FD2D01;
    border: #FD2D01;
    color: white;
    border-radius: 5em;
    text-align: center;
    font-weight: bold;
    padding: 0.5%;
    width: 17%;
    margin-top: 5em;
    margin-left: 1em;
}

.search-select option{
    font-weight: bold;
}

.search-select{
    margin-left: 10em;
}

.search-select select:focus {
    color: white;
    outline: #FD2D01 0.5px solid;
    font-weight:600;
}

.menu-section button a{
    font-size: large;
}

.menuCard h1 {
    color:#FD2D01;
    font-weight: 900;
    font-size: 40px;
    padding-top: 1em;
}

.menuContainer {
    display: block;
    border: solid 1px #FFBA08;
    background-color: #FFBA08;
    border-radius: 20px;
    width: 80%;
    padding: 2.5%;
    color: white;
}

.menuBanner {
    width: 70em;
    height: 23em;
    border-radius: 20px;
    object-fit: cover;
}

.menuCard {
    padding-bottom: 10em;
}

.menuCard .card-info img {
    width: 12em;
    margin-top: -5em;
}

.menuCard .card-info i {
    font-size: xx-large;
}

.menuCard .card-info p {
    font-size: x-large;
    color: #FD2D01;
    font-weight: 600;
    font-style: italic;
}

.menuCard .card-info i {
    color:#FD2D01;
}

.restaurant-type {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: x-large;
    color: white;
}

.restaurant-description {
    font-weight: normal;
    font-size: large;
    font-style: italic;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 1.5em;
}

.menuCard .card-name h1 {
    text-align: center;
    margin-right: 0em;
    font-weight: 800;
    font-size: 45px;
}

.dishlist {
    width: 90%;
}

.dishlist h2 {
    color: #FD2D01;
    text-align: left;
    border-bottom: 4px solid #FD2D01;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    width: 17%;
}

.dish-name {
    font-size: larger;
    width: 72%
}

.price {
    font-size: larger;
    width: 20%;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    width: 7%;
}

.quantity span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #FD2D01 1px solid;
    background-color: #FD2D01;
    width: 5.5em;
    height: 2.5em;
    margin-top: -0.5em;
}

.quantity i {
    margin-right: -2em;
    margin-left: -2em;
    margin-top: -0.5em;
}

.cart-main .menuContainer {
    width: 52%;
}

.cart-main .dishlist i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: #FD2D01 1px solid;
    background-color: #FD2D01;
    width: 2.5em;
    height: 2.5em;
    z-index: 1;
}

.cart-main .dishlist i:hover {
    cursor: pointer;
}

.cart-main span {
    width: 4em;
    height: 2.5em;
}

.cart-info h2{
    color: #FD2D01;
}

.duration-cart p{
    font-weight: 600;
    font-style: italic;
}

.duration-cart {
    font-size: larger;
    color: #FD2D01;
    margin-bottom: 2em;
}

.total {
    border-top: 2px solid white;
    padding-top: 1em;
    font-weight: 500;
    font-size: larger;
}

.total-title {
    width: 72%;
}

.total-price {
    width: 20%;
}

.confOrder-main {
    text-align: center;
    color: #FD2D01;
    padding-top: 8em;
}

.confOrder-main .menuContainer {
    width: 50%;
}

.confOrder-title {
    font-weight: 600;
    color: #FD2D01;
    font-size: x-large;
}

.confOrder-number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #FD2D01 1px solid;
    background-color: #FD2D01;
    width: 9em;
    height: 3em;
    border-radius: 5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    color: white;
    font-size: x-large;
    margin: 0 auto;
}

.confOrder-note {
    font-weight: 600;
    color: #FD2D01;
    font-size: medium;
    font-style: italic;
    padding-top: 1.5em;
}

.register-main {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    padding-left: 27em;
    padding-right: 27em;
}

.register-section input {
    padding-left:0.5em;
    padding-right: 0.5em;
    border-radius: 20px;
    border: #FD2D01 2px solid;
    font-weight:600;
    text-align: center;
    margin-bottom:0.5em;
}

select {
    padding-left:0.5em;
    padding-right: 0.5em;
    border-radius: 20px;
    border: #FD2D01 2px solid;
    font-weight:600;
    text-align: center;
    color: #FD2D01;
    font-weight: 600;
    margin-top: 1em;
}

select:focus {
    color: #FD2D01;
    outline: #FD2D01 0.5px solid;
    font-weight:600;
}

option {
    font-weight:600;
}

textarea {
    padding-left:1em;
    padding-right: 1em;
    padding-top: 0.5em;
    border-radius: 20px;
    border: #FD2D01 2px solid;
    font-weight:600;
    color: #FD2D01;
    font-weight: 600;
    margin-top: 1em;
}

textarea:focus {
    color: #FD2D01;
    outline: #FD2D01 0.5px solid;
    font-weight:600;
}


.register-section input:focus {
    color: #FD2D01;
    outline: #FD2D01 0.5px solid;
}

.register-section label {
    padding-right: 1em;
    font-weight: 600;
    font-size: large;
    color: #FD2D01;
}

.register-section h1{
    color: #FD2D01;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 700;
}

.register-section {
    background-color: #FFBA08;
    border-radius: 20px;
}

.register-section button {
    margin-top: 1em;
    margin-bottom:3em;
}

.note {
    font-style: italic;
    font-size: small;
    font-weight: bold;
    color: #FD2D01;
}

.account-main {
    text-align: center;
}

.account-main {
    padding-top: 7em;
}

.account-main .menuContainer {
    width: 36%;
    padding: 1.5%;
}

.account-main p {
    font-weight: 600;
    font-size: large;
}

.restaurateur-main .register-section {
    text-align: center;
}

.restaurateur-main {
    padding-left: 27em;
    padding-right: 27em;
    padding-top: 10em;
    padding-bottom: 10em;
}

.restaurateur-main h2 {
    padding-top: 1em;
    padding-bottom: 1.5em;
    color: #FD2D01;
}

.restaurateur-info p {
    color: white;
    font-weight: 600;
    font-size: large;
    padding-bottom: 0.5em;
}

.restaurateur-main input[value] {
    color: #FD2D01;
}

.contact-main {
    padding-bottom: 10em;
    text-align: center;
}

.contact-call {
    background-color: #FFBA08;
    margin-top: 3em;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 0em;
    padding-right: 0em;
}

.contact-call h2 {
    color: #FD2D01;
    font-weight: 800;
}

.contact-call a {
    font-size: x-large;
}

.contact-call p {
    font-style: italic;
    font-size: small;
    font-weight: bold;
    color: #FD2D01;
}

footer, footer a, h4{
    color: #FD2D01;
    font-weight: 600;
}

footer a:hover {
    color: white;
}
